body{
    background-color: rgb(81, 145, 101);
    font-family: 'Manrope', sans-serif;
}
.title{
    background-color:white;
    border: 3px;
    width: 700px;
    margin-top: 3%;
    margin-left: 25%;
    text-align: center; 
}
#id{
    border: 3px solid black;
}
.loki-image-1{
    border:3px solid black;
    border-bottom: 0px;
    width: 500px;
    margin-top: 5%;
    margin-left: 32%;
}
.caption{
    background-color: white;
    height: 50px;
    width: 500px;
    text-align: center;
    margin-top: -1%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
.loki1link{
    background-color: rgb(106, 186, 137);
    text-align: center;
    margin-top: -4%;
    height: 30px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.loki-image-2{
    border:3px solid black;
    border-bottom: 0px;
    width: 500px;
    margin-top: 5%;
    margin-left: 32%;
}
.caption-2{
    background-color: white;
    height: 50px;
    width: 500px;
    text-align: center;
    margin-top: -1%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
.loki2link{
    background-color: rgb(106, 186, 137);
    text-align: center;
    margin-top: -4%;
    height: 30px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
.loki-image-3{
    border:3px solid black;
    border-bottom: 0px;
    width: 500px;
    margin-top: 5%;
    margin-left: 32%;
}
.caption-3{
    background-color: white;
    height: 50px;
    width: 500px;
    text-align: center;
    margin-top: -1%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
.loki3link{
    background-color: rgb(106, 186, 137);
    text-align: center;
    margin-top: -4%;
    height: 30px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}